@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Noto Sans KR', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #333;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.ezpharm-blue {
  background-color: #0053a6;
}

.ezpharm-text-blue {
  color: #0053a6;
}

.banner-slide {
  transition: transform 0.5s ease-in-out;
}

.navigator-active {
  color: #0053a6;
  font-weight: bold;
  border-bottom: 2px solid #0053a6;
}
